.ant-input {
  height: 36px !important;

  &:hover,
  &:focus {
    border-color: #EDDB9C !important;
    box-shadow: none !important;
  }
}

.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
  box-shadow: none !important;
  border-color: #EDDB9C !important;
}

.el-select-dropdown__item.selected{
  color: #EDDB9C!important;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: #EDDB9C!important;
}